<template>
    <v-app>
        <v-container fill-height fluid>
            <Menu>
                <v-content slot="Content">
                    <!-- <v-container> -->
                    <!-- <v-layout align-center justify-center column fill-height align-content-space-between> -->
                    <v-flex xs12 class="text-xs-left">
                        <v-btn dark class="white--text" round :to="{ name: 'channel', params: { id: id_Channel }}" small>
                            <v-icon>chevron_left</v-icon>
                            Atras
                        </v-btn>
                    </v-flex>
                    <v-flex>
                        <v-card class="elevation-15">
                            <v-card-title>
                                <v-layout justify-center>
                                    <span style="font-size:25px"><b>{{articulo.title}}</b></span>
                                </v-layout>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-text class="text-xs-left">
                                <p style="font-size:19px" v-html="articulo.content||articulo.summary">
                                </p>
                                <a :href="articulo.link">Fuente: {{articulo.link}} </a>
                            </v-card-text>
                            <v-card-actions>
                                <v-flex xs12 class="text-xs-right">
                                    <v-textarea outline v-model="note" name="note" label="Note"></v-textarea>
                                    <v-btn class="white--text" round @click="guardarNota()" small color="blue">
                                        Guardar nota
                                        <v-icon>add</v-icon>
                                    </v-btn>
                                </v-flex>
                            </v-card-actions>
                        </v-card>

                    </v-flex>
                    <!-- </v-layout> -->
                    <!-- </v-container> -->
                </v-content>
            </Menu>
        </v-container>
    </v-app>
</template>

<script>
import Menu from '@/components/Menu.vue'
import axios from 'axios'

export default {
    name: 'Article',
    components:{
        Menu
    },
    data(){
        return {
            note: '',
            articulo: {},
            crear: true,
            id_Channel: 0
        }
    },
    methods: {
        guardarNota(){

            const tk = sessionStorage.getItem('tk')

            const peticion = axios.create({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `JWT ${tk}`
                }
            })

            if(this.crear){
                peticion.post('/api/notes/', {
                    content: this.note,
                    link: this.articulo.url
                })
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.log(error)
                })
            }else{
                    peticion.put('/api/notes/', {
                        content: this.note
                    })
                    .then(response => {
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error)
                    })

            }
        }
    },
    created(){
        if(!sessionStorage.getItem('login')){
        this.$router.replace({ name: 'login' })
        }
    },
    mounted(){
        const tk = sessionStorage.getItem('tk')
        const id = this.$route.params.id

        const peticion = axios.create({
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `JWT ${tk}`
            }
        })

        peticion.get(`/api/articles/${id}/`)
        .then(response => {
            this.articulo = response.data
            console.log(this.articulo)
            this.id_Channel = this.articulo.channel.split("/")[5]
        })
        .catch(error => {
            console.log(error)
        })

        // peticion.get(`/api/notes/${id}/`)
        peticion.get(`/api/notes/`)
        .then(response => {
            if(response.data < 1){
                console.log("No hay notas")
            }
        })
        .catch(error => {
            console.log(error)
        })
    }
}


</script>

<style>
</style>
