<template>
    <v-app>
        <v-container fluid grid-list-xl>
            <v-layout row justify-center align-center fill-height>
                <v-flex xs12 md6 lg5 xl4>
                    <v-card class="elevation-12">
                        <v-toolbar dark color="blue accent-4">
                            <v-toolbar-title>Feednote it - Registro</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-card-text>
                            <v-form ref="form" v-model="valid">
                                <v-text-field prepend-icon="email" label="E-mail" v-model="email" :rules="emailRules" :counter="50" type="email" />
                                <v-text-field prepend-icon="person" label="Usuario" v-model="username" :rules="userRules" :counter="50" type="text" />
                                <v-text-field id="password" prepend-icon="lock" label="Contraseña" v-model="password" :rules="passwordRules" type="password" />
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn dark flat to="login" color="red accent-4">
                                Volver
                            </v-btn>
                            <v-spacer></v-spacer>
                            <v-btn dark flat @click.prevent="register" color="blue accent-4">
                                Registrar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                    <v-alert ref="alert" v-model="alert" dismissible type="error">
                        {{message}}
                    </v-alert>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Register',
  data () {
    return {
      alert: false,
      message: '',
      valid: true,
      email: '',
      emailRules: [
          v => !!v || 'El email es requerido',
          v => /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/.test(v) || 'Debe ser un email valido'
      ],
      username: '',
      userRules: [
        v => !!v || 'El usuario es requerido',
        v => v.length <= 50 || 'El usuario debe ser de almenos 20 caracteres'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'La contraseña es requerida',
        v => v.length <= 30 || 'La contraseña puede ser maximo de 30 caracteres'
      ]
    }
  },
  methods: {
    register () {
      if (this.$refs.form.validate()) {
        const registro = axios.create({
          headers: {
             'Content-Type': 'application/json',
             }
        })

    registro
          .post('/api/auth/users/create/', {
            email: this.email,
            username: this.username,
            password: this.password
          })
          .then(response => {
              if(response.status == 201){
                  this.$router.replace({ name: 'login'})
                }else{
                    this.alert = true
                    this.message = 'No se pudo registrar' + response.statusText
                    console.log(response.data)
                }
          })
          .catch(error => {
            this.alert = true
            this.message = 'No se pudo registrar: \n'
            Object.values(error.response.data).forEach(messages => {
              this.message += `${messages}\n`
            })
          })
      }
    }
  }
}
</script>

<style>
</style>
