<template>
    <v-slide-y-transition mode="out-in">
        <v-dialog xs12 v-model="dialog" persistent max-width="500px">
            <v-btn slot="activator" round outline color="indigo">
                Agregar Canal
                <v-icon right>add</v-icon>
            </v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">Agregar Canal</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-form ref="form" v-model="valid" lazy-validation>
                                    <v-text-field v-model="enlace" :rules="urlRules" type="url" label="Enlace" required />
                                </v-form>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" flat @click.native="dialog = false">Cancelar</v-btn>
                    <v-btn color="primary darken-1" flat @click.native="createChannel">Crear</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-slide-y-transition>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ButtonCrChannel',
  data () {
      return {
        enlace: '',
        urlRules: [
        v => !!v || 'El enlace es requerido',
        /* eslint-disable-next-line */
        v => /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/.test(v) || 'Debe ingresar un enlace valido'
      ],
        valid: true,
        dialog: false
      }
    },
    methods: {
        createChannel () {
            if (this.$refs.form.validate()) {
                const tk = sessionStorage.getItem('tk')
                const createChannel = axios.create({
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `JWT ${tk}`
                    }
                })

                createChannel
                .post('/api/channels/', {
                    link: this.enlace,
                })
                .then(response => {
                    if(response.status == 201){
                        console.log(response)
                        this.dialog = false
                        location.reload(true)
                    }else{
                        console.log(response)
                    }
                })
                .catch(error => {
                    if(error.response.data.link[0] === "channel with this link already exists."){
                        alert('Este canal ya existe por favor ingrese a explorar y subscribase')
                    }
                        this.message = 'No se pudo crear canal: \n'
                        console.log(error.response)
                        Object.values(error.response.data).forEach(messages => {
                            this.message += `${messages}\n`
                        })
                        console.log(this.message)
                        this.dialog = false
                })
            }
        }
    }
  }
</script>

<style scoped>
</style>
